<script>
    "use strict";
    app.controller("departmenttypeHomeController",
        [
            "$rootScope",
            "$scope",
            "$http",
            "$stateParams",
            "$state",
            "entity",
            function ($rootScope, $scope, $http, $stateParams, $state, entity) {

                $scope.id = $stateParams.id;

                $scope.profile     = {};

                /*
                 * 获取实体详情
                 * @author  金杭
                 * */
                entity.getDetail("/rest/departmenttypes/" + $scope.id, ["createdBy", "createdByDepartment", "lastModifiedBy","roles","departments"]).then(function (resResult) {

                    $scope.profile = resResult;

                    //对实体的行为进行分类显示
                    angular.forEach($scope.profile.currentUserCanActList, function (val, key) {
                        if (val.actGroup == "UPDATE") {
                            $scope.canActs.push(val);
                        } else if (val.actGroup == "FILE_OPERATE") {
                            $scope.canFileActs.push(val)
                        }
                    });

                    //获取当前状态
                    $scope.state_code = $scope.profile.state.stateCode;

                });

                /*大方法的对象*/
                $scope.departmenttypeExcute = {
                    "update": function () {
                        $state.go("auditEntity.home.profile.form", {
                            id: $scope.id,
                            entity_key: "department"
                        }, {reload: false});
                    }
                };

            }
        ]
    );
</script>
<!-- hbox layout -->
<div class="hbox hbox-auto-xs bg-light" ng-controller="departmenttypeHomeController">
    <!-- column -->
    <div class="col w-md lter b-l">
        <div class="h-full" ui-view></div>
    </div>
    <!-- /column -->
</div>
<!-- /hbox layout -->