@CHARSET "UTF-8";

* {
	margin: 0;
	padding: 0;
}

.draw {
	width: 100%;
	height: 100%;
	z-index: 100;
	display: block;
}

.draw ul li {
	display: inline-block;
	vertical-align: middle;
	float: left;
	height: 60px;
	line-height: 60px;
}

.draw ul li:nth-child(1) {
	width: 20%;
}

.draw ul li:nth-child(2) {
	width: 80%;
}

.draw span {
	margin: 0 10px;
	cursor: pointer;
	color: #999;
}

.color {
	display: inline-block;
	width: 12px;
	height: 12px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	border: 1px solid #dcdcdc;
	margin: 0 5px;
}
.select {
	width: 15px;
	height: 15px;
}

.sig {
	width: 100%;
	height: 100%;
	display: block;
	overflow: hidden;
}

.top {
	height: 30px;
	line-height: 30px;
	border-bottom: 1px solid black;
}

.top ul li {
	display: inline-block;
	vertical-align: middle;
	float: left;
}

.top ul li:nth-child(1) {
	width: 20%;
}

.top ul li:nth-child(2) {
	width: 60%;
}

.top ul li:nth-child(3) {
	width: 20%;
}

.top span {
	margin: 0 10px;
	cursor: pointer;
}

.bg {
	background: #000000;
	opacity: 0.5;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 0;
	display: none;
}

.login {
	position: fixed;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	top: 8%;
	width: 300px;
	height: 200px;
	z-index: 999999;
	background: #fff;
	border-radius: 5px 5px 5px 5px;
	text-align: center;
}