<div class="wrapper">
    <div class="panel panel-default">
        <table class="table table-striped m-b-none">
            <tbody>
            <tr>
                <td class="v-middle text-right" style="width: 130px;">用户角色：</td>
                <td class="v-middle">{{ profile.MyRole }}</td>
            </tr>
            <tr>
                <td class="v-middle text-right">用户所属部门：</td>
                <td class="v-middle">{{ profile.MyDepartment }}</td>
            </tr>
            <tr>
                <td class="v-middle text-right">创建人：</td>
                <td class="v-middle">{{ profile.CreatedBy }}</td>
            </tr>
            <tr>
                <td class="v-middle text-right">创建部门：</td>
                <td class="v-middle">{{ profile.CreatedByDepartment }}</td>
            </tr>
            <tr>
                <td class="v-middle text-right">最后操作人：</td>
                <td class="v-middle">{{ profile.LastModifiedBy }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>