<!--<ul class="nav">-->
    <!--<li class="hidden-folded padder m-t m-b-sm text-muted text-xs">-->
        <!--<span>工作台</span>-->
    <!--</li>-->
    <!--<li ui-sref-active="active">-->
        <!--<a ui-sref="dashboard">-->
            <!--<i class="glyphicon glyphicon-calendar icon text-info-dker"></i>-->
            <!--<span class="font-bold">概览</span>-->
        <!--</a>-->
    <!--</li>-->
    <!--<li ui-sref-active="active">-->
        <!--<a ui-sref="messages">-->
            <!--<i class="glyphicon glyphicon-stats icon text-primary-dker"></i>-->
            <!--<b class="badge bg-info pull-right">3</b>-->

            <!--<span class="font-bold">消息</span>-->
        <!--</a>-->
    <!--</li>-->
    <!--<li ui-sref-active="active">-->
        <!--<a ui-sref="users">-->
            <!--<i class="glyphicon glyphicon-envelope icon text-info-lter"></i>-->
            <!--<span class="font-bold">联系人</span>-->
        <!--</a>-->
    <!--</li>-->
    <!--<li ui-sref-active="active">-->
        <!--<a ui-sref="stores">-->
            <!--<i class="fa fa-sitemap icon text-success"></i>-->
            <!--<span class="font-bold">门店</span>-->
        <!--</a>-->
    <!--</li>-->
    <!--<li ui-sref-active="active">-->
        <!--<a ui-sref="distributors">-->
            <!--<i class="fa fa-sitemap icon text-info-dker"></i>-->
            <!--<span class="font-bold">渠道</span>-->
        <!--</a>-->
    <!--</li>-->

    <!--<li class="line dk"></li>-->

    <!--<li class="hidden-folded padder m-t m-b-sm text-muted text-xs">-->
        <!--<span>实体示例</span>-->
    <!--</li>-->
    <!--<li ui-sref-active="active">-->
        <!--<a ui-sref="workflowEntity({entity_key:'user'})">-->
            <!--<i class="glyphicon glyphicon-calendar icon text-info-dker"></i>-->
            <!--<span class="font-bold">实体用户（user）</span>-->
        <!--</a>-->
    <!--</li>-->
    <!--<li ui-sref-active="active">-->
        <!--&lt;!&ndash;<a href='#/workflowEntity/departments' >&ndash;&gt;-->
        <!--<a ui-sref="workflowEntity({entity_key:'department'})">-->
            <!--<i class="glyphicon glyphicon-calendar icon text-info-dker"></i>-->
            <!--<span class="font-bold">实体部门（department）</span>-->
        <!--</a>-->
    <!--</li>-->
    <!--<li ui-sref-active="active">-->
        <!--&lt;!&ndash;<a href='#/normalEntity/userActs'>&ndash;&gt;-->
        <!--<a ui-sref="workflowEntity({entity_key:'userAct'})">-->
            <!--<i class="glyphicon glyphicon-calendar icon text-info-dker"></i>-->
            <!--<span class="font-bold">用户行为表（userActs）</span>-->
        <!--</a>-->
    <!--</li>-->
    <!--<li class="line dk"></li>-->
    <!--<li class="hidden-folded padder m-t m-b-sm text-muted text-xs">-->
        <!--<span>资金供应</span>-->
    <!--</li>-->
    <!--<li ui-sref-active="active">-->
        <!--<a ui-sref="workflowEntity({entity_key:'lending'})">-->
            <!--<i class="glyphicon glyphicon-calendar icon text-info-dker"></i>-->
            <!--<span class="font-bold">贷记产品管理</span>-->
        <!--</a>-->
    <!--</li>-->

    <!--<li class="line dk"></li>-->
    <!--<li class="hidden-folded padder m-t m-b-sm text-muted text-xs">-->
        <!--<span>业务系统</span>-->
    <!--</li>-->
    <!--<li ui-sref-active="active">-->
        <!--<a ui-sref="orders.create({product_id:'1'})">-->
            <!--<i class="glyphicon glyphicon-calendar icon text-info-dker"></i>-->
            <!--<span class="font-bold">新建</span>-->
        <!--</a>-->
    <!--</li>-->
    <!--<li ui-sref-active="active">-->
        <!--<a ui-sref="orders.list({status:'all'})">-->
            <!--<i class="glyphicon glyphicon-calendar icon text-info-dker"></i>-->
            <!--<span class="font-bold">标的</span>-->
        <!--</a>-->
    <!--</li>-->
    <!--<li ui-sref-active="active">-->
        <!--<a ui-sref="customers.list({status:'all'})">-->
            <!--<i class="glyphicon glyphicon-calendar icon text-info-dker"></i>-->
            <!--<span class="font-bold">客户</span>-->
        <!--</a>-->
    <!--</li>-->
    <!--<li class="line dk"></li>-->

    <!--<li class="hidden-folded padder m-t m-b-sm text-muted text-xs">-->
        <!--<span>风控</span>-->
    <!--</li>-->
    <!--<li ui-sref-active="active">-->
        <!--<a ui-sref="orders.list({status:'auto_risk'})">-->
            <!--<i class="glyphicon glyphicon-calendar icon text-info-dker"></i>-->
            <!--<span class="font-bold">自动风控标的</span>-->
        <!--</a>-->
    <!--</li>-->
    <!--<li ui-sref-active="active">-->
        <!--<a ui-sref="orders.list({status:'manual_risk'})">-->
            <!--<i class="glyphicon glyphicon-calendar icon text-info-dker"></i>-->
            <!--<span class="font-bold">待审标的</span>-->
        <!--</a>-->
    <!--</li>-->
    <!--<li ui-sref-active="active">-->
        <!--<a ui-sref="risksperson">-->
            <!--<i class="glyphicon glyphicon-calendar icon text-info-dker"></i>-->
            <!--<span class="font-bold">个人查询</span>-->
        <!--</a>-->
    <!--</li>-->
    <!--<li ui-sref-active="active">-->
        <!--<a ui-sref="riskspersonIntelligent">-->
            <!--<i class="glyphicon glyphicon-calendar icon text-info-dker"></i>-->
            <!--<span class="font-bold">个人智能查询</span>-->
        <!--</a>-->
    <!--</li>-->
    <!--<li ui-sref-active="active">-->
        <!--<a ui-sref="risksasset">-->
            <!--<i class="glyphicon glyphicon-calendar icon text-info-dker"></i>-->
            <!--<span class="font-bold">资产查询</span>-->
        <!--</a>-->
    <!--</li>-->
    <!--<li ui-sref-active="active">-->
        <!--<a ui-sref="risksentertprise">-->
            <!--<i class="glyphicon glyphicon-calendar icon text-info-dker"></i>-->
            <!--<span class="font-bold">企业查询</span>-->
        <!--</a>-->
    <!--</li>-->
    <!--<li ui-sref-active="active">-->
        <!--<a ui-sref="risksentertpriseIntelligent">-->
            <!--<i class="glyphicon glyphicon-calendar icon text-info-dker"></i>-->
            <!--<span class="font-bold">企业智能查询</span>-->
        <!--</a>-->
    <!--</li>-->
    <!--<li class="line dk"></li>-->

    <!--<li class="hidden-folded padder m-t m-b-sm text-muted text-xs">-->
        <!--<span>财务</span>-->
    <!--</li>-->
    <!--<li ui-sref-active="active">-->
        <!--<a ui-sref="widthdraws">-->
            <!--<i class="glyphicon glyphicon-calendar icon text-info-dker"></i>-->
            <!--<span class="font-bold">提现</span>-->
        <!--</a>-->
    <!--</li>-->
    <!--<li ui-sref-active="active">-->
        <!--<a ui-sref="repayments">-->
            <!--<i class="glyphicon glyphicon-calendar icon text-info-dker"></i>-->
            <!--<span class="font-bold">还款</span>-->
        <!--</a>-->
    <!--</li>-->
    <!--<li ui-sref-active="active">-->
        <!--<a ui-sref="lendouts">-->
            <!--<i class="glyphicon glyphicon-calendar icon text-info-dker"></i>-->
            <!--<span class="font-bold">放款</span>-->
        <!--</a>-->
    <!--</li>-->
    <!--<li class="line dk"></li>-->

    <!--<li class="hidden-folded padder m-t m-b-sm text-muted text-xs">-->
        <!--<span>逾期与坏账处置</span>-->
    <!--</li>-->
    <!--<li ui-sref-active="active">-->
        <!--<a ui-sref="orders.list({status:'outday'})">-->
            <!--<i class="glyphicon glyphicon-calendar icon text-info-dker"></i>-->
            <!--<span class="font-bold">逾期</span>-->
        <!--</a>-->
    <!--</li>-->
    <!--<li ui-sref-active="active">-->
        <!--<a ui-sref="orders.list({status:'bad_debt'})">-->
            <!--<i class="glyphicon glyphicon-calendar icon text-info-dker"></i>-->
            <!--<span class="font-bold">坏账</span>-->
        <!--</a>-->
    <!--</li>-->
    <!--<li ui-sref-active="active">-->
        <!--<a ui-sref="orders.list({status:'1bad_debt'})">-->
            <!--<i class="glyphicon glyphicon-calendar icon text-info-dker"></i>-->
            <!--<span class="font-bold">外部催收</span>-->
        <!--</a>-->
    <!--</li>-->
    <!--<li class="line dk"></li>-->

    <li class="line dk"></li>
    <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
        <span>风控</span>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="orders.list({status:'auto_risk'})">
            <i class="glyphicon glyphicon-calendar icon text-info-dker"></i>
            <span class="font-bold">自动风控标的</span>
        </a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="orders.list({status:'manual_risk'})">
            <i class="glyphicon glyphicon-calendar icon text-info-dker"></i>
            <span class="font-bold">待审标的</span>
        </a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="risksperson">
            <i class="glyphicon glyphicon-calendar icon text-info-dker"></i>
            <span class="font-bold">个人查询</span>
        </a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="riskspersonIntelligent">
            <i class="glyphicon glyphicon-calendar icon text-info-dker"></i>
            <span class="font-bold">个人智能查询</span>
        </a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="risksasset">
            <i class="glyphicon glyphicon-calendar icon text-info-dker"></i>
            <span class="font-bold">资产查询</span>
        </a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="risksentertprise">
            <i class="glyphicon glyphicon-calendar icon text-info-dker"></i>
            <span class="font-bold">企业查询</span>
        </a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="risksentertpriseIntelligent">
            <i class="glyphicon glyphicon-calendar icon text-info-dker"></i>
            <span class="font-bold">企业智能查询</span>
        </a>
    </li>


    <li class="line dk"></li>
    <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
        <span>集团报表</span>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="groupLoanReport">
            <i class="glyphicon glyphicon-calendar icon text-info-dker"></i>
            <span class="font-bold">公司报表</span>
        </a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="groupOperateReport">
            <i class="glyphicon glyphicon-calendar icon text-info-dker"></i>
            <span class="font-bold">运营概览</span>
        </a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="groupMarageReport">
            <i class="glyphicon glyphicon-calendar icon text-info-dker"></i>
            <span class="font-bold">资方</span>
        </a>
    </li>

    <li class="line dk"></li>
    <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
        <span>公司报表</span>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="comDepartReport">
            <i class="glyphicon glyphicon-calendar icon text-info-dker"></i>
            <span class="font-bold">部门报表</span>
        </a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="comProductReport">
            <i class="glyphicon glyphicon-calendar icon text-info-dker"></i>
            <span class="font-bold">产品报表</span>
        </a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="comOperate">
            <i class="glyphicon glyphicon-calendar icon text-info-dker"></i>
            <span class="font-bold">运营概览</span>
        </a>
    </li>

    <li class="line dk"></li>
    <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
        <span>门店报表</span>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="storeProductReport">
            <i class="glyphicon glyphicon-calendar icon text-info-dker"></i>
            <span class="font-bold">门店产品报表</span>
        </a>
    </li>

    <li class="line dk"></li>
    <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
        <span>资方报表</span>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="manageFinanceReport">
            <i class="glyphicon glyphicon-calendar icon text-info-dker"></i>
            <span class="font-bold">资方财务报表</span>
        </a>
    </li>

    <li class="line dk"></li>
    <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
        <span>财务</span>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="widthdraws">
            <i class="glyphicon glyphicon-calendar icon text-info-dker"></i>
            <span class="font-bold">提现</span>
        </a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="repayments">
            <i class="glyphicon glyphicon-calendar icon text-info-dker"></i>
            <span class="font-bold">还款</span>
        </a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="lendouts">
            <i class="glyphicon glyphicon-calendar icon text-info-dker"></i>
            <span class="font-bold">放款</span>
        </a>
    </li>
    <!--<li class="hidden-folded padder m-t m-b-sm text-muted text-xs">-->
        <!--<span>数据与分析</span>-->
    <!--</li>-->
    <!--<li ui-sref-active="active">-->
        <!--<a ui-sref="orders.list({status:'auto_risk'})">-->
            <!--<i class="glyphicon glyphicon-calendar icon text-info-dker"></i>-->
            <!--<span class="font-bold">还款报表</span>-->
        <!--</a>-->
    <!--</li>-->
    <!--<li ui-sref-active="active">-->
        <!--<a ui-sref="orders.list({status:'auto_risk'})">-->
            <!--<i class="glyphicon glyphicon-calendar icon text-info-dker"></i>-->
            <!--<span class="font-bold">放款报表</span>-->
        <!--</a>-->
    <!--</li>-->
    <!--<li ui-sref-active="active">-->
        <!--<a ui-sref="orders.list({status:'auto_risk'})">-->
            <!--<i class="glyphicon glyphicon-calendar icon text-info-dker"></i>-->
            <!--<span class="font-bold">门店效能PK</span>-->
        <!--</a>-->
    <!--</li>-->
    <!--<li class="line dk"></li>-->

    <!--<li class="hidden-folded padder m-t m-b-sm text-muted text-xs">-->
        <!--<span>催收</span>-->
    <!--</li>-->
    <!--<li ui-sref-active="active">-->
        <!--<a ui-sref="orders.list({status:'auto_risk'})">-->
            <!--<i class="glyphicon glyphicon-calendar icon text-info-dker"></i>-->
            <!--<span class="font-bold">列表</span>-->
        <!--</a>-->
    <!--</li>-->
    <!--<li class="line dk"></li>-->

    <!--<li class="hidden-folded padder m-t m-b-sm text-muted text-xs">-->
        <!--<span>管理系统</span>-->
    <!--</li>-->
    <!--<li ui-sref-active="active">-->
        <!--<a ui-sref="investors">-->
            <!--<i class="fa fa-sitemap icon text-info-dker"></i>-->
            <!--<span class="font-bold">资方机构</span>-->
        <!--</a>-->
    <!--</li>-->
    <!--<li ui-sref-active="active">-->
        <!--<a ui-sref="investors">-->
            <!--<i class="fa fa-sitemap icon text-info-dker"></i>-->
            <!--<span class="font-bold">增信机构</span>-->
        <!--</a>-->
    <!--</li>-->
    <!--<li class="line dk"></li>-->

    <!--<li class="hidden-folded padder m-t m-b-sm text-muted text-xs">-->
        <!--<span>工作流类开发&配置</span>-->
    <!--</li>-->
    <!--<li ui-sref-active="active">-->
        <!--<a ui-sref="workflowEntityConfig({entity_key:'user'})">-->
            <!--<i class="glyphicon glyphicon-calendar icon text-info-dker"></i>-->
            <!--<span class="font-bold">user配置</span>-->
        <!--</a>-->
    <!--</li>-->
    <!--<li ui-sref-active="active">-->
        <!--<a ui-sref="workflowEntityConfig({entity_key:'loan'})">-->
            <!--<i class="glyphicon glyphicon-calendar icon text-info-dker"></i>-->
            <!--<span class="font-bold">loan配置 </span>-->
        <!--</a>-->
    <!--</li>-->
    <!--<li ui-sref-active="active">-->
        <!--<a ui-sref="workflowEntityConfig({entity_key:'repayment'})">-->
            <!--<i class="glyphicon glyphicon-calendar icon text-info-dker"></i>-->
            <!--<span class="font-bold">repayment配置 </span>-->
        <!--</a>-->
    <!--</li>-->
    <!--<li ui-sref-active="active">-->
        <!--<a ui-sref="workflowEntityConfig({entity_key:'ordermdbt'})">-->
            <!--<i class="glyphicon glyphicon-calendar icon text-info-dker"></i>-->
            <!--<span class="font-bold">ordermdbt配置 </span>-->
        <!--</a>-->
    <!--</li>-->
    <!--<li class="line dk"></li>-->

    <!--<li class="hidden-folded padder m-t m-b-sm text-muted text-xs">-->
        <!--<span>审计类开发&配置</span>-->
    <!--</li>-->
    <!--<li ui-sref-active="active">-->
        <!--<a ui-sref="auditEntityConfig({entity_key:'role'})">-->
            <!--<i class="glyphicon glyphicon-calendar icon text-info-dker"></i>-->
            <!--<span class="font-bold">角色</span>-->
        <!--</a>-->
    <!--</li>-->
    <!--<li ui-sref-active="active">-->
        <!--<a ui-sref="menuConfig({entity_key:'menu'})">-->
            <!--<i class="glyphicon glyphicon-calendar icon text-info-dker"></i>-->
            <!--<span class="font-bold">新增菜单</span>-->
        <!--</a>-->
    <!--</li>-->
    <!--<li ui-sref-active="active">-->
        <!--<a ui-sref="auditEntityConfig({entity_key:'menu'})">-->
            <!--<i class="glyphicon glyphicon-calendar icon text-info-dker"></i>-->
            <!--<span class="font-bold">菜单实体配置</span>-->
        <!--</a>-->
    <!--</li>-->
    <!--<li ui-sref-active="active">-->
        <!--<a ui-sref="auditEntityConfig({entity_key:'department'})">-->
            <!--<i class="glyphicon glyphicon-calendar icon text-info-dker"></i>-->
            <!--<span class="font-bold">组织关系</span>-->
        <!--</a>-->
    <!--</li>-->
    <!--<li class="line dk"></li>-->


    <!--<li ui-sref-active="active">-->
        <!--<a ui-sref="entities">-->
            <!--<i class="glyphicon glyphicon-calendar icon text-info-dker"></i>-->
            <!--<span class="font-bold">实体配置</span>-->
        <!--</a>-->
    <!--</li>-->
      <!--<li ui-sref-active="active">-->
        <!--<a ui-sref="entityConfig">-->
            <!--<i class="glyphicon glyphicon-calendar icon text-info-dker"></i>-->
            <!--<span class="font-bold">实体配置(service)</span>-->
        <!--</a>-->
    <!--</li>-->
    <!--<li ui-sref-active="active">-->
        <!--<a ui-sref="products">-->
            <!--<i class="glyphicon glyphicon-calendar icon text-info-dker"></i>-->
            <!--<span class="font-bold">产品线</span>-->
        <!--</a>-->
    <!--</li>-->
    <!--<li ui-sref-active="active">-->
        <!--<a ui-sref="fees">-->
            <!--<i class="glyphicon glyphicon-calendar icon text-info-dker"></i>-->
            <!--<span class="font-bold">费用配置</span>-->
        <!--</a>-->
    <!--</li>-->
    <!--<li class="line dk"></li>-->
<!--</ul>-->

    <li class="line dk"></li>
    <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
        <span>审计类开发&配置</span>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="auditEntityConfig({entity_key:'role'})">
            <i class="glyphicon glyphicon-calendar icon text-info-dker"></i>
            <span class="font-bold">角色</span>
        </a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="menuConfig({entity_key:'menu'})">
            <i class="glyphicon glyphicon-calendar icon text-info-dker"></i>
            <span class="font-bold">菜单</span>
        </a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="auditEntityConfig({entity_key:'department'})">
            <i class="glyphicon glyphicon-calendar icon text-info-dker"></i>
            <span class="font-bold">组织关系</span>
        </a>
    </li>


    <li class="line dk"></li>

    <!--
        <li ui-sref-active="active">
            <a ui-sref="entities">
                <i class="glyphicon glyphicon-calendar icon text-info-dker"></i>
                <span class="font-bold">实体配置</span>
            </a>
        </li>
          <li ui-sref-active="active">
            <a ui-sref="entityConfig">
                <i class="glyphicon glyphicon-calendar icon text-info-dker"></i>
                <span class="font-bold">实体配置(service)</span>
            </a>
        </li>
    -->
    <li ui-sref-active="active">
        <a ui-sref="products">
            <i class="glyphicon glyphicon-calendar icon text-info-dker"></i>
            <span class="font-bold">产品线</span>
        </a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="fees">
            <i class="glyphicon glyphicon-calendar icon text-info-dker"></i>
            <span class="font-bold">费用配置</span>
        </a>
    </li>
</ul>

<ul class="nav" ng-repeat="menu in menus">
    <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
        <span>{{ menu.label }}</span>
    </li>
    <li ui-sref-active="active" ng-repeat="child in menu.children">
        <a ui-sref="{{ child.router }}">
            <i ng-class="child.iconClass"></i>
            <span class="font-bold">{{ child.label }}</span>
        </a>
    </li>
    <li class="line dk"></li>
</ul>