<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h4">新建费用</h1>
</div>
<div class="wrapper-md">
    <p class="m-b">这是配置人员要用的，页面不重要</p>
    <form class="form-validation form-horizontal">
        <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">费用名称</label>
            <div class="col-sm-6">
                <input type="text" name="realname" placeholder="全称" class="form-control" ng-model="realname" required>
            </div>
        </div>
        <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">uucode</label>
            <div class="col-sm-6">
                <input type="text" name="realname" placeholder="唯一标识 code" class="form-control" ng-model="realname" required>
            </div>
        </div>
        <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">费用类型</label>
            <div class="col-sm-6">
                <select class="form-control" >
                    <option value="">普通费用</option>
                    <option value="">押金</option>
                    <option value="">保证金</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">计算基数</label>
            <div class="col-sm-6">
                <select class="form-control" >
                    <option value="">无</option>
                    <option value="">标的总额</option>
                    <option value="">标的未偿还额</option>
                    <option value="">本期本金</option>
                    <option value="">本期应还额</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">支付方</label>
            <div class="col-sm-6">
                <select class="form-control" >
                    <option value="">借款人</option>
                    <option value="">销售员</option>
                    <option value="">渠道</option>
                    <option value="">门店</option>
                    <option value="">业务公司</option>
                    <option value="">增信机构</option>
                    <option value="">资方代理</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">纳费方</label>
            <div class="col-sm-6">
                <select class="form-control" >
                    <option value="">借款人</option>
                    <option value="">销售员</option>
                    <option value="">渠道</option>
                    <option value="">门店</option>
                    <option value="">业务公司</option>
                    <option value="">增信机构</option>
                    <option value="">资方代理</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">违约或遗失押金受益方</label>
            <div class="col-sm-6">
                <select class="form-control" >
                    <option value="">无</option>
                    <option value="">借款人</option>
                    <option value="">销售员</option>
                    <option value="">渠道</option>
                    <option value="">门店</option>
                    <option value="">业务公司</option>
                    <option value="">增信机构</option>
                    <option value="">资方代理</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">是否支持分期</label>
            <div class="col-sm-6">
                <select class="form-control" >
                    <option value="">是</option>
                    <option value="">否</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label sr-only"></label>
            <div class="col-sm-6">
                <button type="button" class="btn btn-success">保存</button>
            </div>

        </div>
    </form>

</div>



