<script>
    "use strict";
    app.controller("ordermdbtListController",
        [
            "$rootScope",
            "$scope",
            "$http",
            "$stateParams",
            "entity",
            function ($rootScope, $scope, $http, $stateParams, entity) {

                $scope.states = [];

                $scope.searchForm={
                    realName:'',
                    applyMobile:'',
                    companyName:'',
                    orderNo:''
                };

                $scope.searchList = function(page) {
                    //# % & 号键会注释掉后面的内容
                    $scope.searchForm.realName= $scope.searchForm.realName.replace(/#/g,'').replace(/%/g,'').replace(/&/g,'').replace(/\^/g,'')
                    $scope.searchForm.applyMobile=$scope.searchForm.applyMobile.replace(/#/g,'').replace(/%/g,'').replace(/&/g,'').replace(/\^/g,'')
                    $scope.searchForm.companyName=$scope.searchForm.companyName.replace(/#/g,'').replace(/%/g,'').replace(/&/g,'').replace(/\^/g,'')
                    $scope.searchForm.orderNo=$scope.searchForm.orderNo.replace(/#/g,'').replace(/%/g,'').replace(/&/g,'').replace(/\^/g,'')
                    console.log($scope.searchForm.realName);
                    console.log($scope.searchForm.applyMobile);

                    $http({
                        method: "GET",
                        url: "ordermdbt/commissionerlist?stateCode="+$scope.state_code+"&realName="+$scope.searchForm.realName+"&applyMobile="+$scope.searchForm.applyMobile+"&companyName="+$scope.searchForm.companyName+"&orderNo="+$scope.searchForm.orderNo+"&page="+page+"&size=10&sort=id,desc"
                    }).success(function (resResult) {

                        console.log(resResult)
                        $scope.list = resResult.data.content;

                        //搜索的返回格式和 rest/search不一样
                        $scope.pageList = {
                            size: resResult.data.size,
                            total_elements: resResult.data.totalElements,
                            current_page: resResult.data.number,
                            num_page: resResult.data.totalPages,
                            total_page: resResult.data.totalPages
                        };

                        if ($scope.list.length > 0) {
                            $("#ordermdbt_list_paginator").show();
                            $rootScope.setPaginator("#ordermdbt_list_paginator", $scope.pageList, $scope.searchList);
                        }else{
                            $("#ordermdbt_list_paginator").hide();
                        }

                    });
                }

                //搜索按钮
                $scope.searchFormBtn=function () {
                    console.log( $scope.state_code)
                    $scope.searchList(0)

                }

                //重置按钮
                $scope.resetSearchFormBtn=function () {
                    $scope.searchForm= {
                        realName:'',
                        applyMobile:'',
                        companyName:'',
                        orderNo:''
                    }
                    $scope.searchList(0)
                }

                entity.getList("/rest/ordermdbtWorkflows/ " + $stateParams.workflow_id + "/states").then(function (resResult) {
                    $scope.states = resResult._embeddedItems;
                    $scope.states.push({stateCode:'',sort:0,label:'全部'});
                    if ($scope.states.length > 0) {

                        $scope.states = $scope.states.sort(function (a, b) {
                            return a.sort - b.sort;
                        });


                        $scope.state_code = $scope.states[0].stateCode;
                        $scope.getList(0);
                    }
                });

                $scope.pageList = {
                    size: 0,
                    total_elements: 0,
                    current_page: 0,
                    num_page: 1,
                    total_page: 1
                };

                $scope.list = [];

                /*默认读取列表*/

                $scope.getList = function (page) {

                    $scope.loading = true;

                    $scope.list = [];

//                    var link = "/rest/orderwdsjshes/search/listOwnDepartmentAndChildren?sort=lastModifiedAt,desc&size=20&page=" + page;

//                    if($scope.state_code){
                    var link = "/ordermdbt/commissionerlist?stateCode=" + $scope.state_code+"&realName="+$scope.searchForm.realName+"&applyMobile="+$scope.searchForm.applyMobile+"&companyName="+$scope.searchForm.companyName+"&orderNo="+$scope.searchForm.orderNo+"&page="+page+"&size=10&sort=id,desc";

//                    }

                    entity.getList(link).then(function (resResult) {

                        $scope.loading = false;

                        $scope.list = resResult.data.content;

                        $scope.pageList = {
                            size: resResult.data.size,
                            total_elements: resResult.data.totalElements,
                            current_page: resResult.data.number,
                            num_page: resResult.data.totalPages,
                            total_page: resResult.data.totalPages
                        };

                        if ($scope.list.length > 0) {
                            $("#ordermdbt_list_paginator").show();
                            $rootScope.setPaginator("#ordermdbt_list_paginator", $scope.pageList, $scope.getList);
                        }else{
                            $("#ordermdbt_list_paginator").hide();
                        }

                    });
                };

                $scope.stateSelect = function ($event, stateCode) {
                    if ($event.target.nodeName === "INPUT") {
                        $scope.state_code = stateCode;
                        $scope.searchForm= {
                            realName:'',
                            applyMobile:'',
                            companyName:'',
                            orderNo:''
                        }
                        $scope.getList(0);
                    }
                };

                /*获取所有能分配的人列表*/


                /*根据分配人筛选*/


            }
        ]
    );
</script>
<!-- hbox layout -->
<div class="hbox hbox-auto-xs bg-light" ng-controller="ordermdbtListController">
    <!-- column -->
    <div class="col w-md lter b-l">
        <div class="vbox">
            <div class="wrapper b-b clearfix">
                <div class="inline pull-left">
                    <span translate="ordermdbt.self.label"></span>状态：
                </div>
                <!--<div class="inline pull-left m-r">-->
                <!--<label class="i-checks pull-left m-n" ng-click="stateSelect($event,'')">-->
                <!--<input type="radio" name="state" checked><i></i>  全部-->
                <!--</label>-->
                <!--</div>-->
                <div class="inline pull-left m-r" ng-repeat="state in states">
                    <label class="i-checks pull-left m-n" ng-click="stateSelect($event,state.stateCode)">
                        <input type="radio" value="{{state.stateCode}}" ng-model="state_code" name="state"><i></i> {{
                        state.label }}
                    </label>
                </div>
            </div>
            <div class="wrapper b-b clearfix ">
                <form class="form-inline" name="search_form">
                    <div class="form-group m-r">
                        <label for="">订单编号: </label>
                        <input ng-model="searchForm.orderNo" class="form-control" type="text" pattern="^\s*[\da-zA-Z]+\s*$" name="orderNo">
                        <span class="help-block text-danger"
                              ng-show="search_form.orderNo.$dirty && search_form.orderNo.$invalid">
                            <i class="fa fa-exclamation-circle text-danger"></i>订单编号只能输入数字或英文
                        </span>
                    </div>
                    <div class="form-group m-r">
                        <label for="">姓名: </label>
                        <input ng-model="searchForm.realName" class="form-control" type="text" pattern="^\s*[\u4e00-\u9fa5]+(·[\u4e00-\u9fa5]+)*\s*$" name="realName">
                        <span class="help-block text-danger"
                              ng-show="search_form.realName.$dirty && search_form.realName.$invalid">
                            <i class="fa fa-exclamation-circle text-danger"></i>不符合姓名格式
                        </span>
                    </div>
                    <div class="form-group m-r">
                        <label for="">手机号: </label>
                        <input ng-model="searchForm.applyMobile" class="form-control" type="tel" pattern="^\s*\d+\s*$" name="applyMobile">
                        <span class="help-block text-danger"
                              ng-show="search_form.applyMobile.$dirty && search_form.applyMobile.$invalid">
                            <i class="fa fa-exclamation-circle text-danger"></i>手机号必须为数字
                        </span>
                    </div>
                    <div class="form-group m-r">
                        <label for="">企业名称: </label>
                        <input ng-model="searchForm.companyName" class="form-control" type="text" pattern="^\s*[\u4E00-\u9FA5]+\s*$" name="companyName">
                        <span class="help-block text-danger"
                              ng-show="search_form.companyName.$dirty && search_form.companyName.$invalid">
                            <i class="fa fa-exclamation-circle text-danger"></i>企业名称必须为中文
                        </span>
                    </div>
                    <button class="btn btn-primary m-r" ng-click="searchFormBtn()" ng-disabled="search_form.$invalid">
                        <i class="fa fa-search"></i>查询
                    </button>
                    <button class="btn btn-default m-r" ng-click="resetSearchFormBtn()">
                        <i class="fa fa-refresh"></i>重置
                    </button>
                </form>
            </div>
            <div class="row-row">
                <div class="cell">
                    <div class="cell-inner">
                        <div class="wrapper">
                            <div class="panel panel-default">
                                <div class="panel-heading" ng-if="!loading && list.length > 0">
                                    查询结果
                                </div>
                                <div ng-if="loading"
                                     style="position: fixed;top: 50%;right: 50%;margin-left: -15px;margin-top: -15px;">
                                    <div class="sk-spinner sk-spinner-cube-grid">
                                        <div class="sk-cube"></div>
                                        <div class="sk-cube"></div>
                                        <div class="sk-cube"></div>
                                        <div class="sk-cube"></div>
                                        <div class="sk-cube"></div>
                                        <div class="sk-cube"></div>
                                        <div class="sk-cube"></div>
                                        <div class="sk-cube"></div>
                                        <div class="sk-cube"></div>
                                    </div>
                                    <div class="text-center m-t">加载中请稍后</div>
                                </div>
                                <div class="panel-heading" ng-if="!loading && list.length < 1">
                                    暂无数据！
                                </div>
                                <div class="table-responsive" ng-if="!loading && list.length > 0">
                                    <table class="table table-hover b-t b-light">
                                        <thead>
                                        <tr>
                                            <th>操作</th>
                                            <th>订单编号</th>
                                            <th>姓名</th>
                                            <th>手机号</th>
                                            <th>经营区域</th>
                                            <th>企业名称</th>
                                            <th>是否分配</th>
                                            <th>业务员</th>
                                            <th>状态</th>
                                            <th>创建时间</th>
                                            <th>最后修改时间</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="item in list">
                                            <td class="v-middle clearfix">
                                                <button ui-sref="workflowEntity.home.profile.info({id:item.id})"
                                                        class="pull-left btn btn-xs btn-success m-r">详情
                                                </button>
                                                <!--<button ui-sref="workflowEntity.form({id:item.id})"-->
                                                <!--class="pull-left btn btn-sm btn-danger m-r">编辑-->
                                                <!--</button>-->
                                            </td>
                                            <td class="v-middle">
                                                {{ item.orderNo }}
                                            </td>
                                            <td class="v-middle">
                                                {{ item.realName }}
                                            </td>
                                            <td class="v-middle">
                                                {{ item.applyMobile }}
                                            </td>
                                            <td class="v-middle">
                                                {{ item.applyEnterpriseReigionName }}
                                            </td>
                                            <td class="v-middle">
                                                {{ item.companyName }}
                                            </td>
                                            <td class="v-middle"
                                                ng-class="{true: 'text-success', false: 'text-danger'}[item.isDistribution]">
                                                {{ item.isDistribution?"是":"未分配" }}
                                            </td>
                                            <td class="v-middle">
                                                {{ item.serviceName }}
                                            </td>
                                            <td class="v-middle">
                                                {{ item.state.label || item.stateLabel}}
                                            </td>
                                            <td class="v-middle">
                                                {{ item.createdAt | datetime}}
                                            </td>
                                            <td class="v-middle">
                                                {{ item.lastModifiedAt | datetime}}
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="wrapper b-t b-light clearfix">
                <ul id="ordermdbt_list_paginator" style="margin:2px 0;float: right;"></ul>
                <small class="m-l-md pull-right text-muted inline m-t-sm m-b-sm m-r">共 {{pageList.total_elements}} 条，本页共 {{ list.length }}
                    条
                </small>
            </div>
        </div>
    </div>
    <!-- /column -->
</div>
<!-- /hbox layout -->