<script>
    /*
     * 创建人：刘雅倩
     * 创建时间：2017/07/31
     * 合作车商明细
     *
     * */
    "use strict";
    app.controller("teamCtrl",
        [
            "$scope",
            "$timeout",
            function ($scope, $timeout) {
//                  测试用的

                $scope.branchList = [
                    {
                        name: "车商1",
                        employee: "上海1",
                        pickup: "560000",
                        dispatch: "5120000"
                    },
                    {
                        name: "车商1",
                        employee: "上海1",
                        pickup: "560000",
                        dispatch: "5120000"
                    },
                    {
                        name: "车商1",
                        employee: "上海1",
                        pickup: "560000",
                        dispatch: "5120000"
                    },
                    {
                        name: "车商1",
                        employee: "上海1",
                        pickup: "560000",
                        dispatch: "5120000"
                    }
                ];

                $scope.option = {
                    tooltip : {
                        trigger: 'axis',
                        axisPointer : {
                            type: 'shadow'
                        }
                    },
                    legend: {
                        data:['逾期','风险','滞留','出险']
                    },
                    toolbox: {
                        show : true,
                        orient : 'vertical',
                        y : 'center',
                        feature : {
                            mark : {show: true},
                            magicType : {show: true, type: ['line', 'bar', 'stack', 'tiled']},
                            restore : {show: true},
                            saveAsImage : {show: true}
                        }
                    },
                    calculable : true,
                    xAxis : [
                        {
                            type : 'value',
                            splitArea : {show : true}
                        }
                    ],
                    yAxis : [
                        {
                            type : 'category',
                            data : ['车商','车商','车商','车商','车商','车商','车商']
                        }
                    ],
                    grid: {
                        x2:40
                    },
                    series : [
                        {
                            name:'逾期',
                            type:'bar',
                            stack: '总量',
                            data:[320, 332, 301, 334, 390, 330, 320]
                        },
                        {
                            name:'风险',
                            type:'bar',
                            stack: '总量',
                            data:[120, 132, 101, 134, 90, 230, 210]
                        },
                        {
                            name:'滞留',
                            type:'bar',
                            stack: '总量',
                            data:[220, 182, 191, 234, 290, 330, 310]
                        },
                        {
                            name:'出险',
                            type:'bar',
                            stack: '总量',
                            data:[150, 232, 201, 154, 190, 330, 410]
                        }
                    ]
                };

                $scope.option2 = {
                    title : {
                        text: '合作车商明细平均百分比',
                        x:'center'
                    },
                    tooltip : {
                        trigger: 'item',
                        formatter: "{a} <br/>{b} : {c} ({d}%)"
                    },
                    legend: {
                        orient : 'vertical',
                        x : 'left',
                        data:['逾期','风险','滞留','出险']
                    },
                    toolbox: {
                        show : true,
                        feature : {
                            mark : {show: true},
                            dataView : {show: true, readOnly: false},
                            magicType : {
                                show: true,
                                type: ['pie', 'funnel'],
                                option: {
                                    funnel: {
                                        x: '25%',
                                        width: '50%',
                                        funnelAlign: 'left',
                                        max: 1548
                                    }
                                }
                            },
                            restore : {show: true},
                            saveAsImage : {show: true}
                        }
                    },
                    calculable : true,
                    series : [
                        {
                            name:'访问来源',
                            type:'pie',
                            radius : '55%',
                            center: ['50%', '60%'],
                            data:[
                                {value:335, name:'逾期'},
                                {value:310, name:'风险'},
                                {value:234, name:'滞留'},
                                {value:135, name:'出险'}
                            ]
                        }
                    ]
                };

                $scope.myChart = echarts.init(document.getElementById('branch_dashboard_chart'));
                $scope.myChart2 = echarts.init(document.getElementById('branch_dashboard_chart2'));

                $scope.myChart2.setOption($scope.option2);
                $scope.myChart.setOption($scope.option);

//                $scope.myChart.connect($scope.myChart2);
//                $scope.myChart2.connect($scope.myChart);

                $timeout(function (){
                    window.onresize = function () {
                        $scope.myChart.resize();
                        $scope.myChart2.resize();
                    }
                },200)
            }
        ]
    );
</script>

<div class="hbox hbox-auto-xs lter" ng-controller="teamCtrl">
    <!-- column -->
    <div class="col">
        <div class="vbox">
            <div class="bg-light lter b-b clearfix" style="padding: 14px 20px;">
                <select class="pull-left m-r-sm input-sm form-control w-sm inline v-middle"
                            ng-options="branch.name for branch in branchList"
                            ng-model="branch">
                <option value=""> --请选择-- </option>
                </select>
                <!--<div class="btn-group">-->
                    <!--<button type="button" class="m-r btn btn-sm btn-addon btn-info">-->
                        <!--<i class="fa fa-plus" ng-class="iconClass[btn]"></i><span tanslate="">打印</span>-->
                    <!--</button>-->
                <!--</div>-->
                <div class="pull-right">
                    <div class="btn-group">
                        <button class="btn btn-sm btn-default" ng-click="changeView($event)">今天</button>
                        <button class="btn btn-sm btn-default" ng-click="changeView($event)">昨天</button>
                        <button class="btn btn-sm btn-default" ng-click="changeView($event)">前天</button>
                    </div>
                    <div class="btn-group">
                        <button class="btn btn-sm btn-default" ng-click="changeView('agendaDay')">本周</button>
                        <button class="btn btn-sm btn-default" ng-click="changeView('agendaWeek')">上周</button>
                    </div>
                    <div class="btn-group">
                        <button class="btn btn-sm btn-default" ng-click="changeView('month')">本月</button>
                        <button class="btn btn-sm btn-default" ng-click="changeView('month')">上月</button>
                    </div>
                </div>
            </div>

            <div class="row-row">
                <div class="cell">
                    <div class="cell-inner wrapper-md">
                        <div style="padding-top: 0;">
                            <div class="panel wrapper row">
                                <div id="branch_dashboard_chart" class="col-sm-6" style="height:500px; width:45%;"></div>
                                <div id="branch_dashboard_chart2" class="col-sm-6" style="height:500px;width:50%;"></div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="table-responsive">
                                <table class="table table-striped b-t b-light">
                                    <thead>
                                        <tr>
                                            <th>团队</th>
                                            <th>合作车商</th>
                                            <th>信用值</th>
                                            <th>风险值</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="list in branchList">
                                            <td><span class="pull-left waybill_item_number"><a>{{ list.employee}}</a></span></td>
                                            <td class="report_amount"><span class="text-ellipsis">{{ list.pickup }}</span></td>
                                            <td class="report_amount"><span class="text-ellipsis">{{ list.pickup }}</span></td>
                                            <td class="report_amount"><span class="text-ellipsis">{{ list.dispatch }}</span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

