<script>
    "use strict";
    app.controller("loanListController",
        [
            "$rootScope",
            "$scope",
            "$http",
            "entity",
            "$stateParams",
            "$state",
            'FileUploader',
            function ($rootScope, $scope, $http, entity, $stateParams,$state,FileUploader) {

                $scope.states = [];
                $scope.products =[];
                $scope.searchForm={
                    realname:'',
                    telephone:'',
                    productid:'4',
                    orderNo:'',
                    overdue:''
                };

                $scope.overdues=[
                    {key:'未选择',val:''},
                    {key:'未逾期',val:'0'},
                    {key:'逾期',val:'1'}
                ]

                /*上传文件大数组*/
                $scope.uploadVal = [];

                /*上传文件时传入*/
                $scope.actCode = null;

                /*上传文件夹*/
                $scope.subcategory = null;
                $scope.topcategory = null;


                $scope.modalMaxPhoto = null;

                /*所有的上传的行为*/
                $scope.canActs = [];

                //面单白条表格是否显示   2个表格不一样
                $scope.mdbtBtn=true;

                entity.getList("/rest/loanWorkflows/ " + $stateParams.workflow_id + "/states").then(function (resResult) {
                    $scope.states = resResult._embeddedItems;
                    //$scope.states.push({stateCode:'',sort:0,label:'全部'});
                    if ($scope.states.length > 0) {

                        $scope.states     = $scope.states.sort(function (a, b) {
                            return a.sort - b.sort;
                        });
                        $scope.state_code = $scope.states[0].stateCode;
                        $scope.getList(0);
                    }
                });


                $scope.searchList = function(page) {

                    //console.log($scope.searchForm)
                    //# % & 号键会注释掉后面的内容
                    $scope.searchForm.realname= $scope.searchForm.realname.replace(/[#%&\^\\]/g,'')
                    $scope.searchForm.telephone=$scope.searchForm.telephone.replace(/[#%&\^\\]/g,'')
                    $scope.searchForm.orderNo=$scope.searchForm.orderNo.replace(/[#%&\^\\]/g,'')

                    $http({
                        method: "GET",
                        url: "/loan/searchloanrecord?overdue="+$scope.searchForm.overdue+"&orderNo="+$scope.searchForm.orderNo+"&stateCode="+$scope.state_code+"&realname="+$scope.searchForm.realname+"&telephone="+$scope.searchForm.telephone+"&productid="+$scope.searchForm.productid+"&page="+page+"&size=10&sort=id,desc"
                    }).success(function (resResult) {
                        console.log(resResult)
                        $scope.list = resResult.data.content;

                        if($scope.state_code == 'CREATED'){
                            $scope.mdbtBtn=true;
                        }else {
                            $scope.mdbtBtn=false;
                        }
                        //随借随还的TABEL
                        angular.forEach($scope.list,function (val,key) {
                            if(val.information){
                                val.sn =JSON.parse(val.information).id
                                val.mobile = JSON.parse(val.information).mobile
                                val.accountName =JSON.parse(val.information).accountName
                                val.loanAmount =JSON.parse(val.information).loanAmount
                                val.accountBank =JSON.parse(val.information).accountBank
                                val.loanStartDate =$scope.formatDate(JSON.parse(val.information).loanStartDate);
                                val.loanEndDate =$scope.formatDate(JSON.parse(val.information).loanEndDate);
                                val.product=val.label
                            }
                        })


                        //搜索的返回格式和 rest/search不一样
                        $scope.pageList = {
                            size: resResult.data.size,
                            total_elements: resResult.data.totalElements,
                            current_page: resResult.data.number,
                            num_page: resResult.data.totalPages,
                            total_page: resResult.data.totalPages
                        };

                        console.log($scope.list)
                        if ($scope.list.length > 0) {
                            $("#loan_list_paginator").show();
                            $rootScope.setPaginator("#loan_list_paginator", $scope.pageList, $scope.searchList);
                        }else{
                            $("#loan_list_paginator").hide();
                        }

                    });
                }

                //搜索按钮
                $scope.searchFormBtn=function () {
                    console.log( $scope.state_code)
                    $scope.searchList(0)
                }

                //重置按钮
                $scope.resetSearchFormBtn=function () {
                    $scope.selectModel=null;
                    $scope.searchForm= {
                        realname:'',
                        telephone:'',
                        productid:'4',
                        orderNo:'',
                        overdue:''
                    }
                    console.log($scope.searchForm)
                    $scope.searchList(0)
                }



//                entity.getList("/rest/loanStates?sort=sort").then(function (resResult) {
//                    angular.forEach(resResult._embeddedItems, function (val, key) {
//                        if (val.stateCode !== "DELETED") {
//                            $scope.states.push(val)
//                        }
//                    });
//                });

                $scope.pageList = {
                    size: 0,
                    total_elements: 0,
                    current_page: 0,
                    num_page: 1,
                    total_page: 1
                };

                $scope.list = [];


                $scope.getList = function (page) {
                    $scope.loading = true;

                    $scope.list = [];

                    //var link = "/rest/loans/search/listOwnDepartmentAndChildren?size=20&page=" + page;

                    //if($scope.state_code){
                    //var link = "/rest/loans?sort=id,desc&stateCode=" + $scope.state_code + "&size=20&page=" + page;
                    var link = "/loan/searchloanrecord?stateCode="+$scope.state_code+"&realname=&telephone=&productid=4&page="+page+"&size=10&sort=id,desc";
                   // var link = "/rest/loans/search/listStateOwnDepartmentAndChildren?sort=id,desc&stateCode=" + $scope.state_code + "&size=20&page=" + page;
                    //}


                    if($scope.state_code == 'CREATED'){
                        $scope.mdbtBtn=true;
                    }else {
                        $scope.mdbtBtn=false;
                    }

                    entity.getList(link).then(function (resResult) {
                        $scope.loading = false;
                       $scope.list = resResult.data.content;
                        angular.forEach($scope.list,function (val,key) {
                            if(val.information){
                                val.sn =JSON.parse(val.information).id
                                val.mobile = JSON.parse(val.information).mobile
                                val.accountName =JSON.parse(val.information).accountName
                                val.loanAmount =JSON.parse(val.information).loanAmount
                                val.accountBank =JSON.parse(val.information).accountBank
                                val.loanStartDate =$scope.formatDate(JSON.parse(val.information).loanStartDate);
                                val.loanEndDate =$scope.formatDate(JSON.parse(val.information).loanEndDate);
                                val.product=val.label
                            }

                        })

                        //搜索的返回格式和 rest/search不一样
                        $scope.pageList = {
                            size: resResult.data.size,
                            total_elements: resResult.data.totalElements,
                            current_page: resResult.data.number,
                            num_page: resResult.data.totalPages,
                            total_page: resResult.data.totalPages
                        };

                        console.log($scope.list)
                        if ($scope.list.length > 0) {
                            $("#loan_list_paginator").show();
                            $rootScope.setPaginator("#loan_list_paginator", $scope.pageList, $scope.getList);
                        }else{
                            $("#loan_list_paginator").hide();
                        }

                    });
                };

//                if ($scope.state_code) {
//                    $scope.getList(0);
//                }

                $scope.stateSelect = function ($event, stateCode) {
                    if ($event.target.nodeName === "INPUT") {
                        $scope.state_code = stateCode;
                        $scope.searchForm= {
                            realname:'',
                            telephone:'',
                            productid:'4',
                            orderNo:'',
                            overdue:''
                        }
                        $scope.getList(0);
                    }
                };
                $scope.formatDate = function (date) {
                    return date.substring(0,4)+'-'+date.substring(4,6)+'-'+date.substring(6,8);
                };


                $scope.fn={
                    'adopt':function (id) {
                        swal({
                            title: "是否确定放款",
                            type: "warning",
                            showCancelButton: true,
                            cancelButtonText: "退出",
                            confirmButtonText: "同意",
                            closeOnConfirm: true
                        }, function () {
                            var html = '<div style="position: fixed;top: calc(50% - 50px);;right: calc(50% - 50px); width: 100px; height: 100px" class="sk-spinner sk-spinner-cube-grid" id="loadAction">' +
                                                '<div class="sk-cube"></div>' +
                                                '<div class="sk-cube"></div>' +
                                                '<div class="sk-cube"></div>' +
                                                '<div class="sk-cube"></div>' +
                                                '<div class="sk-cube"></div>' +
                                                '<div class="sk-cube"></div>' +
                                                '<div class="sk-cube"></div>' +
                                                '<div class="sk-cube"></div>' +
                                                '<div class="sk-cube"></div>' +
                                                '<div>加载中请稍后...</div>'
                                       '</div>';
                            $("body").append(html);

                            $http({
                                method: "patch",
                                url: "/rest/loans/"+id,
                                data: {
                                    act:'adopt'
                                }
                            }).success(function (resResult) {
                                console.log(resResult);
                                $("#loadAction").remove();
                                $rootScope.toasterSuccess("注意",'放贷成功！');
                                $state.go("workflowEntity.list", {entity_key: "mdbtloan"}, {reload: true});
                            }).error(function (res) {
                                $("#loadAction").remove();
                            });
                        });
                    },
                    'pass':function (id,state) {
                        if(state == 'ABNORMAL'){
                            var title ="此客户为异常客户,是否确定通过"

                        }else {
                            var title ="是否确定通过"
                        }
                        swal({
                            title: title,
                            type: "warning",
                            showCancelButton: true,
                            cancelButtonText: "退出",
                            confirmButtonText: "同意",
                            closeOnConfirm: true
                        }, function () {
                            $http({
                                method: "patch",
                                url: "/rest/loans/"+id,
                                data: {
                                    act:'pass'
                                }
                            }).success(function (resResult) {
                                console.log(resResult);
                                $rootScope.toasterSuccess("注意",'审核通过！');
                                $state.go("workflowEntity.list", {entity_key: "mdbtloan"}, {reload: true});
                            });
                        });

                    },
                    'noPass':function (id) {
                        swal({
                            title: "是否未通过放款",
                            type: "warning",
                            showCancelButton: true,
                            cancelButtonText: "退出",
                            confirmButtonText: "同意",
                            closeOnConfirm: true
                        }, function () {
                            $http({
                                method: "patch",
                                url: "/rest/loans/"+id,
                                data: {
                                    act:'failed'
                                }
                            }).success(function (resResult) {
                                console.log(resResult);
                                $rootScope.toasterSuccess("注意",'未通过成功！');
                                $state.go("workflowEntity.list", {entity_key: "mdbtloan"}, {reload: true});
                            });
                        });
                    },
                    'upload':function (id) {
                        $scope.headerInformation = "上传审核通过的文件";
                        $scope.promptInformation = "只能上传一个压缩包";
                        $scope.subcategory="";
                        $scope.topcategory="";
                        $scope.id=id;
                        $scope.uploader.clearQueue();
                        $("#loan_upload").modal("show");
                    },
                    'openFile':function(id){
                        $scope.id=id;
                        entity.getList("/rest/loans/" +id+"/files").then(function (resResult) {
                            //console.log(resResult)

                            $scope.loanFiles = resResult._embeddedItems;
                            $scope.imgSrc=[];
                            if($scope.loanFiles.length){
                                angular.forEach($scope.loanFiles,function(data){
                                    $scope.imgSrc.push("http://files.xiaojinpingtai.com/"+data.newFileName);
                                    })
                                $("#file_open").modal("show");
                            }else{
                                $rootScope.toasterWarning("还没有上传凭证！");
                                }
                            }
                        );


                    }
                }
                /*显示凭证*/



                /*上传文件*/
                //以下是上传文件的动作详情参考前端框架示例 js/controllers/file-upload.js
                $scope.uploadDone = false;

                $scope.setUploadDone = function () {
                    $scope.uploadDone = false;
                };

                $scope.uploader = new FileUploader({
                    url: '/fileUpload'
                });

                $scope.uploader.filters.push({
                    name: 'customFilter',
                    fn: function (item, options) {
                        return this.queue.length < 30;
                    }
                });

                $scope.uploader.onAfterAddingFile = function (fileItem) {

                    if (fileItem.file.type.indexOf("image") !== -1) {
                        fileItem.formData    = [{fileType: "image"}]
                        //fileItem.actCode     = $scope.actCode;
                        fileItem.subcategory = $scope.subcategory;
                        fileItem.topcategory = $scope.topcategory;

//                        fileItem.formData = [{fileType: "file"}];

                    } else {
                        $rootScope.toasterError("警告！", "只能上传图片格式请重新选择！");
                        fileItem.remove();

//                        fileItem.formData = [{fileType: "file"}]
                    }


//                    $("#audit_zip_file_input").val("");

                    console.log(fileItem);
                };

                $scope.uploader.onErrorItem = function (fileItem, response, status, headers) {
                    $rootScope.toasterError("上传失败！", fileItem.file.name + " 上传失败！");
                };

                $scope.uploader.onSuccessItem = function (fileItem, response, status, headers) {
                    $scope.uploadDone = true;

                    console.log(response);


                    //response.result.actCode     = fileItem.actCode;
                    response.result.subcategory = fileItem.subcategory;
                    response.result.topcategory = fileItem.topcategory;

//                    angular.forEach($scope.canActs, function (val, key) {
//                        if (val.actCode == fileItem.actCode) {
//                            val.actPhoto.push(response.result);
//                        }
//                    });
                    $http({
                        method: "PATCH",
                        url: "rest/loans/" + $scope.id,//这里是关联的实体
                        data: {
                            fileObject: response.result,//fileObject是上传完文件后的文件对象
                            act: 'upload'//上传文件的行为
                        }
                    }).success(function (data) {
                        //$('#loan_upload').modal('hide');
                        $rootScope.toasterSuccess("上传成功！", $scope.subcategory + "：" + fileItem.file.name + " 上传成功！");
                        if(!$scope.uploader.getNotUploadedItems().length){
                            $('#loan_upload').modal('hide');

                        }
                    });

                };

            }
        ]
    );
</script>
<!-- hbox layout -->
<div class="hbox hbox-auto-xs bg-light" ng-controller="loanListController">
    <!-- column -->
    <div class="col w-md lter b-l">
        <div class="vbox">
            <!--<div class="wrapper b-b b-light clearfix">-->
            <!--<div class="pull-left m-r w inline">-->
            <!--<label class="sr-only" for=""></label>-->
            <!--<input type="text" class="form-control" id="">-->
            <!--</div>-->
            <!--<div class="pull-left m-r w inline">-->
            <!--<label class="sr-only" for=""></label>-->
            <!--<input type="text" class="form-control" id="">-->
            <!--</div>-->
            <!--<div class="pull-left m-r w inline">-->
            <!--<label class="sr-only" for=""></label>-->
            <!--<input type="text" class="form-control" id="">-->
            <!--</div>-->
            <!--<div class="pull-left m-r inline">-->
            <!--<button class="btn btn-primary btn-addon">-->
            <!--<i class="fa fa-search"></i>-->
            <!--查询-->
            <!--</button>-->
            <!--</div>-->
            <!--</div>-->
            <div class="wrapper b-b b-light clearfix">
                <div class="inline pull-left">
                    面单白条借款记录状态：
                    <!--<span translate="loan.self.label"></span>状态：-->
                </div>
                <!--<div class="inline pull-left m-r">-->
                <!--<label class="i-checks pull-left m-n" ng-click="stateSelect($event,'')">-->
                <!--<input type="radio" name="state" checked><i></i>  全部-->
                <!--</label>-->
                <!--</div>-->
                <div class="inline pull-left m-r" ng-repeat="state in states">
                    <label class="i-checks pull-left m-n" ng-click="stateSelect($event,state.stateCode)">
                        <input type="radio" value="{{state.stateCode}}" ng-model="state_code" name="state"><i></i> {{
                        state.label }}
                    </label>
                </div>
            </div>
            <div class="wrapper b-b clearfix ">
                <form class="form-inline" name="search_form">
                    <div class="form-group m-r">
                        <label for="">借款单号: </label>
                        <input ng-model="searchForm.orderNo" class="form-control" type="text" pattern="^\s*[\da-zA-Z]+\s*$" name="orderNo">
                        <span class="help-block text-danger"
                              ng-show="search_form.orderNo.$dirty && search_form.orderNo.$invalid">
                            <i class="fa fa-exclamation-circle text-danger"></i>订单编号只能输入数字或英文
                        </span>
                    </div>
                    <div class="form-group m-r">
                        <label for="">法人姓名: </label>
                        <input ng-model="searchForm.realname" class="form-control" type="text" pattern="^\s*[\u4e00-\u9fa5]+(·[\u4e00-\u9fa5]+)*\s*$" name="realname">
                        <span class="help-block text-danger"
                              ng-show="search_form.realname.$dirty && search_form.realname.$invalid">
                            <i class="fa fa-exclamation-circle text-danger"></i>不符合姓名格式
                        </span>
                    </div>
                    <div class="form-group m-r">
                        <label for="">手机号: </label>
                        <input ng-model="searchForm.telephone" class="form-control" type="tel" pattern="^\s*\d+\s*$" name="telephone">
                        <span class="help-block text-danger"
                              ng-show="search_form.telephone.$dirty && search_form.telephone.$invalid">
                            <i class="fa fa-exclamation-circle text-danger"></i>手机号必须为数字
                        </span>
                    </div>
                    <div class="form-group m-r" ng-if="state_code == 'ENABLED'">
                        <label for="">是否逾期: </label>
                        <select class="form-control" ng-model="searchForm.overdue">
                            <option ng-repeat=" item in overdues" value="{{item.val}}">{{item.key}}</option>
                        </select>
                    </div>
                    <button class="btn btn-primary m-r" ng-click="searchFormBtn()" ng-disabled="search_form.$invalid">
                        <i class="fa fa-search"></i>查询
                    </button>
                    <button class="btn btn-default m-r" ng-click="resetSearchFormBtn()">
                        <i class="fa fa-refresh"></i>重置
                    </button>
                </form>
            </div>
            <div class="row-row">
                <div class="cell">
                    <div class="cell-inner" style="overflow: scroll;">
                        <div class="wrapper">
                            <div class="panel panel-default">
                                <div class="panel-heading" ng-if="!loading && list.length > 0">
                                    查询结果
                                </div>
                                <div ng-if="loading"
                                     style="position: fixed;top: 50%;right: 50%;margin-left: -15px;margin-top: -15px;">
                                    <div class="sk-spinner sk-spinner-cube-grid">
                                        <div class="sk-cube"></div>
                                        <div class="sk-cube"></div>
                                        <div class="sk-cube"></div>
                                        <div class="sk-cube"></div>
                                        <div class="sk-cube"></div>
                                        <div class="sk-cube"></div>
                                        <div class="sk-cube"></div>
                                        <div class="sk-cube"></div>
                                        <div class="sk-cube"></div>
                                    </div>
                                    <div class="text-center m-t">加载中请稍后</div>
                                </div>
                                <div class="panel-heading" ng-if="!loading && list.length < 1">
                                    暂无数据！
                                </div>
                                <div ng-if="!loading && list.length > 0">
                                    <table class="table table-hover b-light">
                                        <thead>
                                        <tr>
                                            <th>操作</th>
                                            <th>借款单号</th>
                                            <th>法人姓名</th>
                                            <th>手机号</th>
                                            <!--<th ng-if="state_code===''">状态</th>-->
                                            <!--<th>申请日期</th>-->
                                            <th>采购单位</th>
                                            <th>公司名称</th>
                                            <th>借款本金(元)</th>
                                            <th>借款利息(元)</th>
                                            <th>本息(元)</th>
                                            <th ng-if="state_code == 'ENABLED'">是否逾期</th>
                                            <th ng-if="state_code == 'ENABLED'">剩余应还(元)</th>
                                            <th>操作人</th>
                                            <th>借款申请日期</th>
                                            <th>借款使用日期</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="item in list">

                                            <td class="v-middle">
                                                <div class="btn-group dropdown">
                                                    <button class="btn btn-success btn-xs" data-toggle="dropdown">操作 <span class="caret"></span></button>
                                                    <ul class="dropdown-menu">
                                                        <li ng-if="(state_code == 'ENABLED')||state_code == 'PAYOF'">
                                                            <a ui-sref="workflowEntity.home.profile.page({entity_key:'mdbtloan',view_type:'firstphase',id:item.id})" >详情</a>
                                                        </li>
                                                        <li ng-if="mdbtBtn" ng-click="fn.upload(item.id)">
                                                            <a>上传凭证</a>
                                                        </li>
                                                        <li ng-if="!(state_code =='PAYOF')" ng-click="fn.openFile(item.id)" >
                                                            <a>查看凭证</a>
                                                        </li>
                                                        <li ng-if="(state_code == 'CREATED')||state_code == 'NOTLEND'" class="divider"></li>
                                                        <li ng-if="state_code == 'CREATED'" ng-click="fn.pass(item.id,item.accountStatus)">
                                                            <a>通过</a>
                                                        </li>
                                                        <li ng-if="state_code == 'NOTLEND'" ng-click="fn.adopt(item.id)">
                                                            <a >放款</a>
                                                        </li>
                                                        <li ng-if="mdbtBtn"  ng-click="fn.noPass(item.id)">
                                                            <a >未通过</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </td>


                                            <td class="v-middle">
                                                {{ item.loanSn }}
                                            </td>
                                            <td class="v-middle">
                                                {{ item.personName }}
                                            </td>
                                            <td class="v-middle">
                                                {{ item.phone }}
                                            </td>
                                            <!--<td class="v-middle" ng-if="state_code===''">-->
                                                <!--{{ item.stateLabel }}-->
                                            <!--</td>-->
                                            <td class="v-middle">
                                                {{ item.purchasingUnit }}
                                            </td>
                                            <td class="v-middle">
                                                {{ item.companyName }}
                                            </td>
                                            <!--<td class="v-middle">-->

                                            <!--</td>-->
                                            <td class="v-middle">
                                                {{ item.loanAmount }}
                                            </td>
                                            <td class="v-middle">
                                                {{ item.totalInterest }}
                                            </td>
                                            <td class="v-middle">
                                                {{ item.loanAmount + item.totalInterest }}
                                            </td>
                                            <td class="v-middle" ng-if="state_code == 'ENABLED'" ng-class="{true: 'color_black', false: 'color_red'}[(item.overdue <= 0)]">
                                                {{ ( item.overdue <= 0 )? '未逾期':'逾期' }}
                                            </td>

                                            <td class="v-middle" ng-if="state_code == 'ENABLED'">
                                                {{ item.remainAmount }}
                                            </td>
                                            <td class="v-middle">
                                                {{ item.userName}}
                                            </td>
                                            <td class="v-middle">
                                                {{ item.applyDate | datetime}}
                                            </td>
                                            <td class="v-middle">
                                                {{ item.useDate | datetime }}
                                            </td>
                                            <!--<td class="v-middle clearfix">-->
                                                <!--&lt;!&ndash;<button ui-sref="workflowEntity.home.profile.info({id:item.id})"&ndash;&gt;-->
                                                        <!--&lt;!&ndash;class="pull-left btn btn-sm btn-info m-r">详情&ndash;&gt;-->
                                                <!--&lt;!&ndash;</button>&ndash;&gt;-->
                                                <!--<button ng-if="state_code == 'CREATED'" ng-click="fn.pass(item.id)" class="pull-left btn btn-sm btn-success m-r">通过</button>-->
                                                <!--<button ng-if="state_code == 'NOTLEND'" ng-click="fn.adopt(item.id)" class="pull-left btn btn-sm btn-success m-r">放款</button>-->
                                                <!--<button ng-if="mdbtBtn"  ng-click="fn.noPass(item.id)" class="pull-left btn btn-sm btn-danger m-r">未通过</button>-->
                                                <!--<button ng-if="mdbtBtn" ng-click="fn.upload(item.id)"  class="pull-left btn btn-sm btn-primary m-r">上传凭证</button>-->
                                                <!--<button ng-if="!(state_code =='PAYOF')" ng-click="fn.openFile(item.id)" class="pull-left btn btn-sm btn-info m-r">查看凭证</button>-->
                                                <!--<button ui-sref="workflowEntity.home.profile.page({entity_key:'mdbtloan',view_type:'firstphase',id:item.id})"  ng-if="(state_code == 'ENABLED')||state_code == 'PAYOF'" class="pull-left btn btn-sm btn-success m-r">详情</button>-->
                                                <!--&lt;!&ndash;<button ui-sref="workflowEntity.home.profile.form({id:item.id})"&ndash;&gt;-->
                                                <!--&lt;!&ndash;class="pull-left btn btn-sm btn-info m-r">编辑&ndash;&gt;-->
                                                <!--&lt;!&ndash;</button>&ndash;&gt;-->
                                            <!--</td>-->
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="wrapper b-t b-light clearfix">
                <ul id="loan_list_paginator" style="margin:2px 0;float: right;"></ul>
                <small class="m-l-md pull-right text-muted inline m-t-sm m-b-sm m-r">共 {{pageList.total_elements}} 条，本页共 {{ list.length }}
                    条
                </small>
            </div>
            <div class="modal fade" id="loan_upload">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close"
                                    ng-click="uploader.clearQueue();setUploadDone();"
                                    data-dismiss="modal">
                                <span>&times;</span>
                            </button>
                            <!--上传审核通过的文件-->
                            上传凭证
                        </div>
                        <div class="modal-body">
                            <div class="hbox hbox-auto-xs hbox-auto-sm" nv-file-drop="" uploader="uploader"
                                 filters="queueLimit, customFilter">
                                <div class="col w-lg bg-light b-r bg-auto">
                                    <div class="wrapper-md dker b-b">
                                        <h4 class="m-n font-thin">选择文件</h4>
                                    </div>
                                    <div class="wrapper-md">
                                        <div ng-show="uploader.isHTML5" class="m-b-md">
                                            <!-- 3. nv-file-over uploader="link" over-class="className" -->
                                            <div class="b-a b-2x b-dashed wrapper-lg bg-white text-center m-b"
                                                 nv-file-over="" over-class="b-info" uploader="uploader">
                                                拖动文件放到此处
                                            </div>
                                        </div>
                                        <input id="audit_zip_file_input" class="w" type="file"
                                               nv-file-select=""
                                               multiple
                                               uploader="uploader"/>
                                    </div>
                                </div>
                                <div class="col bg-light bg-auto">
                                    <div class="wrapper-md bg-light dk b-b">
                                                    <span class="pull-right">文件数：
                                                        <b class="badge bg-info">{{ uploader.queue.length }}</b>
                                                    </span>
                                        <h4 class="m-n font-thin text-danger ">文件上传</h4>
                                    </div>
                                    <div class="wrapper-md">
                                        <table class="table bg-white-only b-a">
                                            <thead>
                                            <tr>
                                                <th>文件名</th>
                                                <th ng-show="uploader.isHTML5">大小</th>
                                                <th>状态</th>
                                                <th>操作</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr ng-repeat="item in uploader.queue">
                                                <td>
                                                    <div class="text-ellipsis w-sm">{{ item.file.name }}
                                                    </div>
                                                </td>
                                                <td ng-show="uploader.isHTML5" nowrap>{{
                                                    item.file.size/1024/1024|number:2
                                                    }} MB
                                                </td>
                                                <td class="text-center">
                                                                <span ng-show="item.isSuccess" class="text-success">
                                                                    <i class="fa fa-check"></i>
                                                                </span>
                                                    <span ng-show="item.isCancel" class="text-warning">
                                                                    <i class="fa fa-ban"></i>
                                                                </span>
                                                    <span ng-show="item.isError" class="text-danger">
                                                                    <i class="fa fa-cancel"></i>
                                                                </span>
                                                </td>
                                                <td nowrap>
                                                    <!--<button type="button" class="btn btn-default btn-xs"-->
                                                            <!--ng-click="item.upload()"-->
                                                            <!--ng-disabled="item.isReady || item.isUploading || item.isSuccess">-->
                                                        <!--上传-->
                                                    <!--</button>-->
                                                    <button type="button" class="btn btn-default btn-xs"
                                                            ng-click="item.remove();setUploadDone();">
                                                        清除
                                                    </button>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <div>
                                            <div>
                                                <p>进度</p>
                                                <div class="progress bg-light dker" style="">
                                                    <div class="progress-bar progress-bar-striped bg-info"
                                                         role="progressbar"
                                                         ng-style="{ 'width': uploader.progress + '%' }"></div>
                                                </div>
                                                <div class="m-t m-b font-bold h4 text-danger"
                                                     ng-if="uploader.progress === 100 && !uploadDone">
                                                    服务器正在处理中，请稍等。。。
                                                </div>
                                            </div>
                                            <button type="button" class="btn btn-addon btn-success"
                                                    ng-click="uploader.uploadAll()"
                                                    ng-disabled="!uploader.getNotUploadedItems().length">
                                                <i class="fa fa-arrow-circle-o-up"></i> 上传
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="file_open">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content" style="float:left">
                        <ul style="list-style: none;padding:0px;margin-bottom:0px;">
                            <li ng-repeat="src in imgSrc"><img class="img-responsive" ng-src="{{src}}"></li>
                        </ul>

                    </div>
                </div>
            </div><!--查看凭证的模态框-->

        </div>
    </div>



    <!-- /column -->
</div>
<!-- /hbox layout -->